/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.poplogic.blipin.api.token.apis

import com.poplogic.blipin.api.token.models.ErrorResponse
import com.poplogic.blipin.api.token.models.RenewAccessTokenRequest
import com.poplogic.blipin.api.token.models.RenewAccessTokenResponse
import com.poplogic.blipin.api.token.models.RevokeTokenResponse

import com.poplogic.blipin.api.token.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class TokenApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * POST /token/renew_access_token
        * Renew access token using refresh token
        * Verifies a refresh token, validates the persisted session, and rotates the refresh token before issuing a new access token. 
         * @param renewAccessTokenRequest  
         * @return RenewAccessTokenResponse
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun tokenRenewAccessTokenPost(renewAccessTokenRequest: RenewAccessTokenRequest): HttpResponse<RenewAccessTokenResponse> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = renewAccessTokenRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/token/renew_access_token",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /token/revoke
        * Revoke the current session token
        * Deletes the session associated with the authenticated token payload to invalidate the refresh-token session. 
         * @return RevokeTokenResponse
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun tokenRevokePost(): HttpResponse<RevokeTokenResponse> {

            val localVariableAuthNames = listOf<String>("bearerAuth")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/token/revoke",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
