/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.poplogic.blipin.api.auth.apis

import com.poplogic.blipin.api.auth.models.AuthApplePost200Response
import com.poplogic.blipin.api.auth.models.EmailLoginRequest
import com.poplogic.blipin.api.auth.models.EmailLoginResponse
import com.poplogic.blipin.api.auth.models.ErrorResponse
import com.poplogic.blipin.api.auth.models.GoogleLoginRequest
import com.poplogic.blipin.api.auth.models.GoogleLoginResponse
import com.poplogic.blipin.api.auth.models.VerifyEmailRequest
import com.poplogic.blipin.api.auth.models.VerifyEmailResponse

import com.poplogic.blipin.api.auth.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class AuthApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * POST /auth/apple
        * Apple login
        * This endpoint is currently a stub and returns a success message without real Apple authentication. It is intentionally included here as a draft/TODO endpoint to match the current implementation. 
         * @return AuthApplePost200Response
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun authApplePost(): HttpResponse<AuthApplePost200Response> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/auth/apple",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /auth/email/login
        * Login with email and return whether the user is new
        * 
         * @param emailLoginRequest  
         * @return EmailLoginResponse
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun authEmailLoginPost(emailLoginRequest: EmailLoginRequest): HttpResponse<EmailLoginResponse> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = emailLoginRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/auth/email/login",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /auth/email/verify
        * Verify email OTP and activate account
        * 
         * @param verifyEmailRequest  
         * @return VerifyEmailResponse
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun authEmailVerifyPost(verifyEmailRequest: VerifyEmailRequest): HttpResponse<VerifyEmailResponse> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = verifyEmailRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/auth/email/verify",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /auth/google
        * Google OAuth login
        * Validates a Google ID token and creates or reuses the user identity.
         * @param googleLoginRequest  
         * @return GoogleLoginResponse
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun authGooglePost(googleLoginRequest: GoogleLoginRequest): HttpResponse<GoogleLoginResponse> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = googleLoginRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/auth/google",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
